@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@layer base {
  body {
    @apply antialiased;
  }
}

.loading-dots:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    content: ' .';
  }
  40% {
    content: ' ..';
  }
  60% {
    content: ' ...';
  }
  80%, 100% {
    content: '';
  }
}
